* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Gluten', cursive;
    font-family: 'Open Sans', sans-serif;
}


/* Navbar Section */
#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: silver;
    border-radius: 4px;
}


/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
    border-bottom: 1px solid grey;
    background-color:   #FFF5F5; 
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    
}

#home img {
    position: relative;
    left: -125px; /* adjust this value to your liking */
  }
  
  

#home .name h2 {
    margin-bottom: 0.5rem;
}

#home .name p {
    opacity: 0.7;
    font-style: italic;
}

#home .text-container {
    position: absolute;
    left: 35px;
    top: 25%; /* adjust top position to your liking */
    transform: translateY(-50%);
  }
  
  #home .text-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .text-container h2 {
    margin-bottom: 10px; /* adjust this value to your liking */
  }
  


 
  

/* Training Section */
#training {
    color: white;
    padding: 1rem;
}

#training .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
}

#training .items .item:hover {
    background:silver;
    border-radius: 10px;
}


/* Courses Section */
#courses {
    color: #333;
    padding: 1rem;
    font-size: 0.75rem;
    background-color:   #FFF5F5; 
    
}
.courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.courses .course {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.courses .course .course-image {
    margin-right: 0.5rem;
    position: relative;
}
.courses .course .course-image img {
    border-radius: 10px;
}
.courses .course .course-image span {
    background: red;
    padding: 0.25rem;
    color:white;
    border-radius: 4px;
    position: absolute;
    top:0;
    left: 0;
}
.courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-size: 20px;
    margin-bottom:0.25rem;
}
.courses .course .course-info .description{
    letter-spacing: 1.2px;
    margin-bottom:0.25rem;
    opacity: 0.6;
    font-size: 15px;
}
.courses .course .course-info .instructor{
    font-size: 13px;
    margin-bottom:0.25rem;
    opacity: 0.6;
}
.courses .course .course-info .rating{
    font-size:13px;
    margin-bottom:0.25rem;
    opacity: 0.6;
}

/* Contact Section */
#contact{
    color:white;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style: none;
    display: flex;
    margin-top:1rem ;
    align-self: center;
}
#contact .contact-form ul a{
    padding: 1rem;
    font-size: 1rem;
}
#contact .contact-form ul a:hover{
    opacity: 0.8;
}